.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(1, 101, 1);
}

h2 {
  color: rgb(24, 182, 24);
  font-size: 80px;
}
.prgrph {
  font-size: 40px;
  color: rgb(8, 39, 93);
}

.img1 {
  display: none;
}
.img2 {
  display: none;
}

@media only screen and (max-width: 900px) {
  h2 {
    display: none;
  }
  .prgrph {
    display: none;
  }
  .img1 {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    display: none;
  }
  .prgrph {
    display: none;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: flex;
  }
}
